:root {
  --page-bg-color: white;
  --page-fg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #1c1b22;
    --page-fg-color: whitesmoke;
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
  font-family: sans-serif;
  min-width: 20rem;
}

h3,
summary {
  text-align: center;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

table {
  table-layout: fixed;
}

th,
td {
  width: 50%;
  padding: 1px 4px 1px 6px;
}

.image_container,
.info_container {
  display: grid;
  place-items: center;
}

#info_table {
  font-size: 0.8em;
  max-width: 14rem;
}

#small_image {
  max-height: 24px !important;
}

.hidden {
  display: none;
}

#open_settings_page {
  text-align: left;
}

#open_github_link {
  text-align: right;
}

#footer_table {
  min-width: 18rem;
}

#open_settings_page:hover,
#open_github_link:hover {
  border-radius: 0.7em;
  background-color: hsla(0, 0%, 50%, 0.5);
}

[id^="img_"]:hover {
  border-radius: 2em;
  background-color: hsla(0, 0%, 50%, 0.5);
}

#unsupported_browser {
  color: red;
  background-color: hsla(62, 100%, 55%, 0.5);
}
