:root {
  --page-bg-color: white;
  --page-fg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: #1c1b22;
    --page-fg-color: whitesmoke;
  }
}

body {
  background-color: var(--page-bg-color);
  color: var(--page-fg-color);
  font-family: sans-serif;
  min-width: 20rem;
}

h3,
summary {
  text-align: center;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

table {
  table-layout: fixed;
}

th,
td {
  width: 50%;
  min-width: 14ch;
  text-align: center;
}

#image_container,
#info_container {
  display: grid;
  place-items: center;
  position: relative;
}

#info_table {
  font-size: 0.8em;
  max-width: 14rem;
}

.version_header {
  border-radius: 0.3em;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.3);
  mix-blend-mode: difference;
}

#browser_version,
#latest_version {
  border-radius: 0.2em;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.2);
  mix-blend-mode: difference;
}

#last_checked {
  font-size: 0.85em;
  color: rgba(255, 255, 255, 0.6);
  mix-blend-mode: difference;
}

#small_image {
  max-height: 24px !important;
}

.hidden {
  display: none;
}

#open_settings_page {
  text-align: left;
}

#open_github_link {
  text-align: right;
}

#footer_table {
  min-width: 16rem;
}

#open_settings_page:hover,
#open_github_link:hover {
  border-radius: 0.5em;
  background-color: hsla(0, 0%, 50%, 0.5);
}

.tooltip:hover > #status_image {
  border-radius: 2em;
  background-color: hsla(0, 0%, 50%, 0.5);
}

#error_status {
  color: red;
  background-color: hsla(62, 100%, 55%, 0.5);
}

#loading_spinner {
  animation: spin 1.75s linear infinite;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top: 6px solid whitesmoke;
  border-radius: 50%;
  mix-blend-mode: difference;
  position: absolute;
  height: 64px;
  width: 64px;
  margin-top: -0.25rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip_text {
  visibility: hidden;
  font-size: smaller;
  background-color: rgba(255, 255, 255, 0.25);
  color: whitesmoke;
  text-align: center;
  border-radius: 0.6rem;
  mix-blend-mode: difference;
  padding: 0.25em;
  position: absolute;
  opacity: 0;
  transition: opacity 0.8s;
}

#img_tooltip {
  width: 6rem;
  margin-left: +2.25rem;
  margin-top: -1.5rem;
}

#checked_tooltip {
  width: max-content;
  margin-left: -10rem;
  margin-top: -1.25rem;
}

.tooltip:hover #img_tooltip.tooltip_text {
  opacity: 1;
  visibility: visible;
}

.tooltip:hover #checked_tooltip.tooltip_text {
  opacity: 1;
  visibility: visible;
}

.show-tooltip {
  opacity: 1;
  visibility: visible;
}
